<!DOCTYPE html>
<html lang="en">

<head>
    <title>Purchase History</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, 
		shrink-to-fit=no">
    <link rel="shortcut icon" href="./assets/img/favicon.ico" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.css">
    <script type="text/JavaScript" src="../static/showHistory.js"></script>
</head>
<body>
    <div class="container">
        <div class="header">
               <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        
              <div id="navbarText">
                <ul class="navbar-nav mr-auto">

                 <li class="nav-item active">
                    <a class="nav-link" href="/">Home</a>
                  </li>
                  
                  <li class="nav-item active">
                    <a class="nav-link" href="/logout">Logout</a>
                  </li>
                </ul>
               
              </div>
            </nav>

            <h3 class="text-muted"><span>Admin Dashboard<span></span> <a class='btn btn-primary btn-sm mr-2 float-right' href='/showAddProduct'>Add</a></h3>
        </div>

        <div id="products-list" class="row">
        </div>
        
    </div>

    <script>
        $(document).ready(function(){
            var product_ids = '{{product_ids|tojson}}'
            var name_list = '{{ name_list|tojson }}'
            var price_list = '{{ price_list|tojson }}'
            var inventory_list = '{{inventory_list|tojson}}'
            var category_list = '{{category_list|tojson}}'
            var link_list = '{{link_list|tojson}}'
            product_ids = JSON.parse(product_ids);
            name_list = JSON.parse(name_list);
            price_list = JSON.parse(price_list);
            inventory_list = JSON.parse(inventory_list);
            category_list = JSON.parse(category_list);
            link_list = JSON.parse(link_list);
            for(i = 0; i < product_ids.length; i++)
            {
                var div_col = $("<div class='col-md-4'></div>")
                var div_card = $("<div class='card'></div>")
                var img = $(`<img class='card-img-top' src='${link_list[i]}' alt='${name_list[i]}' />`)
                var div_body = $("<div class='card-body'></div>")
                var h5 = $("<h5 class='card-title'></h5>")
                h5.append(name_list[i])
                var p1 = $("<p class='card-text'><strong>Price:</strong> $</p>")
                p1.append(price_list[i])
                var p2 = $("<p class='card-text'><strong>Inventory:<strong> </p>")
                p2.append(inventory_list[i])
                var p3 = $("<p class='card-text'><strong>Category:<strong> </p>")
                p3.append(category_list[i])
                var div_links = $("<div style='display: flex; justify-content: space-evenly;'></div>")
                var edit_bth = $(`<div><a class='btn btn-outline-warning btn-sm' href='/showEditProduct/${product_ids[i]}'>Edit</a></div>`)
                var delete_bth = $(`<div><a class='btn btn-outline-danger btn-sm' href='/deleteProduct/${product_ids[i]}'>Delete</a></div>`)
                div_links.append(edit_bth)
                div_links.append(delete_bth)


                div_body.append(img)
                div_body.append(h5)
                div_body.append(p1)
                div_body.append(p2)
                div_body.append(p3)
                div_body.append(div_links)
                div_card.append(div_body)
                div_col.append(div_card)
                $('#products-list').append(div_col)
            }

        })

    </script>
</body>


</html>
