<!DOCTYPE html>
<html lang="en">

<head>
    <title>Purchase History</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, 
		shrink-to-fit=no">

    <link rel="shortcut icon" href="./assets/img/favicon.ico" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.css">
    <script type="text/JavaScript" src="../static/showHistory.js"></script>
</head>
<body>
    <div class="container">
        <div class="header">
               <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        
              <div id="navbarText">
                <ul class="navbar-nav mr-auto">

                 <li class="nav-item active">
                    <a class="nav-link" href="/">Home</a>
                  </li>
                  
                  <li class="nav-item active">
                    <a class="nav-link" href="/logout">Logout</a>
                  </li>
                </ul>
               
              </div>
            </nav>

            <h3 class="text-muted">Admin Dashboard</h3>
        </div>

        <div>
            <table id="history" class="table">
                <thead>
                    <th scope="col">Product</th>
                    <th scope="col">Price</th>
                    <th scope="col">Inventory</th>
                    <th scope="col">Category</th>
                    <th scope="col"><a class='btn btn-primary btn-sm mr-2' href='/addItem'>Add</a></th>
                    
                </thead>
                <tbody id="table_body">
                    <tr>
                        <td scope="col">Iphone</td>
                        <td scope="col">$999</td>
                        <td scope="col">42</td>
                        <td scope="col">Phones</td>
                        <td scope="col"><button class="btn btn-outline-warning btn-sm">Edit</button></td>
                    </tr>
                    <tr>
                        <td scope="col">Mac Book Pro</td>
                        <td scope="col">$1400</td>
                        <td scope="col">17</td>
                        <td scope="col">Computers</td>
                        <td scope="col"><button class="btn btn-outline-warning btn-sm">Edit</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
        
    </div>

    <script>
        $(document).ready(function(){
            var product_ids = '{{product_ids|tojson}}'
            var name_list = '{{ name_list|tojson }}'
            var price_list = '{{ price_list|tojson }}'
            var inventory_list = '{{inventory_list|tojson}}'
            var category_list = '{{category_list|tojson}}'
            product_ids = JSON.parse(product_ids);
            name_list = JSON.parse(name_list);
            price_list = JSON.parse(price_list);
            inventory_list = JSON.parse(inventory_list);
            category_list = JSON.parse(category_list);

            for(i = 0; i < product_ids.length; i++)
            {
                var tr = $("<tr></tr>")
                var td1 = $("<td scope='col'></td>")
                td1.append(name_list[i])
                var td2 = $("<td scope='col'></td>")
                td2.append(price_list[i])
                var td3 = $("<td scope='col'></td>")
                td3.append(inventory_list[i])
                var td4 = $("<td scope='col'></td>")
                td4.append(category_list[i])
                var td5 = $(`<td><a class='btn btn-outline-warning btn-sm mr-2' href='/editProduct/${product_ids[i]}'>Edit</a><a class='btn btn-outline-danger btn-sm' href='/deleteProduct/${product_ids[i]}'>Delete</a></td>`)
                
                tr.append(td1)
                tr.append(td2)
                tr.append(td3)
                tr.append(td4)
                tr.append(td5)
                $('#table_body').append(tr)
            }

        })

    </script>
</body>


</html>
